@import "./_variables.css";

*, :after, :before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  line-height: 1.5;
}

.container {
  padding: 0 30px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.data {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 1fr 1fr;
  justify-items: center;
  text-align: center;
  gap: 20px;
}

.file-data {
}

.matrix {
  min-width: 300px;
  display: grid;
}

p {
  max-width: 500px;
  text-align: left;
  white-space: break-spaces;
}

.cell {
  border: 1px dashed gray;
  padding: 5px;
}